* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.paragraph1,
.paragraph2 {
    background: lightgray;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.paragraph1 {
    text-align: justify;
}

.paragraph2 {
    text-align: center;
}

p {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}