* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

header {
    height: 200px;
    padding: 20px 0;
}

.center {
    display: flex;
    flex-wrap: wrap;
    width: 1280px;
    margin: 0 auto;
}

.logo {
    width: 50%;
}

.menu {
    padding-top: 30px;
    width: 50%;
    text-align: right;
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-right: 15px;

}

section.about {
    height: calc(100% - 200px);
    position: relative;
}

.product {
    position: absolute;
    bottom: -450px;
    right: -600px;
    width: 1200px;
    height: 1200px;
    border-radius: 48%;
    background-color: #017143;
}

.social-media {
    position: absolute;
    top: 200px;
    right: 10px;
}

.social-media img {
    width: 20px;
    display: block;
    margin-bottom: 15px;
}

.sobre h1 {
    font-size: 50px;
    margin-top: 100px;
}

.sobre p {
    margin-top: 20px;
    width: 800px;
    font-weight: bold;
}

.sobre button {
    width: 100px;
    height: 30px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    border: 0;
    margin-top: 20px;
    background-color: #017143;
}