* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Border Radius

.box {
    width: 30%;
    padding-top: 30%;
    margin: 50px auto;
    position: relative;

}

.teste {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 50%;
}
*/

.transform {
    -ms-transform: translate(-50%, -50%);
    width: 40%;
    max-width: 500px;
    height: 500px;
    border: 3px solid #ccc;
    border-radius: 8px;
    position: absolute;
    left: 50%;
    top: 50%;
    transition: 2s;
    animation-name: animacao;
    animation-duration: 3s;
}


@keyframes animacao {
    0%{
        transform: translate(-50%, -50%) rotateY(0deg);
    }
    50%{
        transform: translate(-50%, -50%) rotateY(180deg);
    }
    100%{
        transform: translate(-50%, -50%) rotateY(0deg);
    }
}