* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 300px;
    padding: 10px;
    background: white;
    border-radius: 5%;
}

input[type="checkbox"] {
    appearance: none;
    width: 13px;
    height: 13px;
    border: solid 1px #767676;
    border-radius: 2px;

}

input[type="checkbox"]:hover {
    border: solid 1px #554e4e;
}

input[type="checkbox"]:checked {
    width: 13px;
    height: 13px;
    background: url(../imagens/check-icon.png) center/contain no-repeat;
    border: none;
}

input[type="radio"] {
    width: 15px;
    height: 15px;
    border: solid 1px #767676;
}

input[type="radio"]:checked {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #0075ff;
    border: solid 1px #0075ff;
    box-shadow: 0 0 0 2px white inset
}

input[type="file"] {
    display: block;
    margin-top: 10px;
    padding: 5px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

