* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: blueviolet;
}

form {
    background: white;
    padding: 20px;
}

input[type="checkbox"]:checked {
    appearance: none;
    width: 13px;
    height: 13px;
    background: url(../imagens/check-icon.png) center/contain no-repeat;
    border-radius: 20%;
}

input[type="radio"]:checked {
    appearance: none;
    border: 2px solid #818181;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #0075ff;
    box-shadow: 0 0 0 2px white inset;
}

input[type="file"] {
    display: block;
    margin-top: 10px;
    padding: 5px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}