





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box h2 {
    color: gray;
    font-size: 24px;
}
.box p {
    color: rgb(130, 130, 130);
    font-size: 17px;
    font-style: italic;
}

.box2 {
    margin-top: 20px;
}

.box2 h2 {
    color: orange;
    font-size: 24px;
}
.box2 p {
    color: green;
    font-size: 17px;
    font-style: italic;
}






/*

  ===========Transition
    -webkit-transition-property: width height;
    transition-property: width height;
    -webkit-transition-property: 3s;
    transition-duration: 3s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition: 1s width, 3s height;
    transition: 1s width, 3s height;
    -webkit-transition-delay: 2s;
    transition-delay: 2s;
    div.box:hover {
    width: 600px;
    height: 400px;
    }

    ==============Key-frames
    animation-name: animacao_1;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: infinite;

    div.box:hover {
    animation: animacao_1 4s 2;
    animation-delay: 2s;
}

@keyframes animacao_1 {
    0%{
        left: 0;
        top: 10px;
        background-color: green;
    }

    45%{
        border: 3px solid red;
        left: 100px;
        top: 10px;
        background-color: orange;
    }

    100%{
        border: 0;
        left: 0;
        top: 0px;
        background-color: red;
    }
    
}

====Opacidade e box shadow
    div.box img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

div.box p{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    transition: 1s;    
    opacity: 1;
    background-color: green;
}
 
div.box p:hover{
    opacity: 0.4;
}

div.box img {
    width: 40%;
    animation-name: animacao;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    -webkit-box-shadow: 10px 10px 15px 5px rgb(200, 200, 200);
    box-shadow: 10px 10px 15px 5px rgb(200, 200, 200)
}

@keyframes animacao {
    0% {
        box-shadow: 10px 10px 15px 5px rgb(200, 200, 200);
    }

    50% {
        box-shadow: 30px 20px 15px 5px rgb(200, 200, 200);
    }

    100% {
        box-shadow: 10px 10px 15px 5px rgb(200, 200, 200); 
    }
}


    */