* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

ul {
    margin-top: 10px;
    margin-left: 30px;
}

ul li:hover {
    background: gray;
}

ul li:first-child{
    color: brown;
}

ul li:last-child {
    border: 2px solid black;
}

ul li:nth-last-child(odd) {
    background-color: #f0f0f0;
}