* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

aside {
    /*order: 2;*/
    background: #ccc;
    padding: 90px 20px;
}

article {
    /*
    order: 1;*/
    padding: 30px;
    background: gray;
}