* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: blueviolet;
}

form {
    width: 400px;
    height: 200px;
    padding: 20px;
    border: solid 3px blue;
    background: lightgray;
}

input[required] {
    background: yellow;
}

button[disabled] {
    opacity: 0.5;
}

select[data-type="primary"] {
    border: 2px solid blue;
}

[data-type^="pri"] {
    font-weight: bold;
}

[data-type$="ary"] {
    color: green;
}
