* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

section {
    width: 100%;
    height: 900px;
    background: linear-gradient(rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0.2)), 
    url(../imagens/sunset.jpg) center/cover fixed;
}