* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}


.cabeçalho, .botao, .conteudo_pequeno, .conteudo_grende{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;    
}  

.cabeçalho {
    width: 100%;
    height: 250px;
    background-color: greenyellow;
    position: fixed;
    top: 0;
}

.botao {
    padding: 15px;
    background-color: aqua;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
}

.conteudo_pequeno {
    width: 100%;
    height: 150px;
    background-color: blue;
    margin-top: 20px;
    position: sticky;
    top: 0;
}

.conteudo_grende {
    width: 100%;
    height: 2500px;
    background-color: blueviolet;
}