* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    padding-top: 20vh;
}

header {
    width: 100%;
    height: 20vh;
    background: blueviolet;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    position: fixed;
    top: 0;
}

button {
    background: aqua;
    font-weight: bold;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
}

button:hover {
   background: rgba(0, 255, 255, 0.514); 
}

.content {
    width: 100%;
    height: 20vh;
    background: purple;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}

.big_content {
    background: black;
    height: 2000px;
}