* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    padding: 15px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 10px;
    line-height: 100px;

}

p {
    font-family: 'Stack Sans Headline', sans-serif;
    font-weight: 300;
    letter-spacing: 5px;
    line-height: 20px;
}

h1:hover,
p:hover {
    font-size: 120%;
    transition: font-size 0.3s ease;
}