.box1, .box2, .box3 {
    width: 300px;
    height: 300px;
    border: solid black 1px;
    background: blueviolet;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2 {
    color: inherit;
    margin: auto;
}

.box3 {
    color: initial;
}