* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 100%;
    height: 500px;
    background: repeating-radial-gradient(yellow, yellow 10%, green 15%); 
    /*background: radial-gradient(circle, red 20%, orange 30%, green 50%);
    */
    /*
    background:repeating-linear-gradient(45deg, red, yellow 10%, green 20%);
    */
}

