* {
    margin: 0;
    padding: 0;
}


html,
body {
    height: 100%;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
}


form {
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 5%;
}


form input,
form textarea,
form select,
form button {
    width: 100%;
    margin-bottom: 15px;
}

button {
    color: white;
    background: #007bff;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 3%;
}

button:hover {
    background: #0062ca;
}

form input:focus,
form select:focus,
form textarea:focus {
    outline: none;
    border: 2px solid #0062ca;
}