* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 300px;
    height: 300px;
    background: white;
    padding: 10px;
    border-radius: 5%;
}

input[type="text"],
input[type="email"],
select,
textarea,
button {
    width: 95%;
    height: 20px;
    margin-bottom: 10px;
}

button {
    background: aquamarine;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 10px;
    height: auto;
    border-radius: 5px;
}

button:hover {
    background: rgb(127, 182, 255);
}

textarea {
    height: auto;
}

input[type="text"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
    outline: none;
    border: 2px solid #8a2be2;
    box-shadow: 0 0 4px #8a2be2;
}